@import "tailwindcss";

@tailwind base;
@tailwind utilities;
@layer base {
  :root {
    --background: #000000;
    --lightVioletBtn: #963488;
    --orangeBtn: #fc6f32;
    --darkOrange: #ff4a59;
    --almostWhiteColor: #ffd6f9;
    --skinColor: #ffcbb4;
    --lightPinkColor: #ffbec3;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
main {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

section {
  scroll-snap-align: start;
}
